<h1>Flickr Photo Viewer</h1>

<% if flash[:alert] %>
  <div style="color:red"><%= alert %></div>
<% end %>

<%= form_with url: "/", method: "get" do |form| %>
  <div><%= form.label :user_id, "Enter a Flickr User ID:" %></div>
  <div><%= form.text_field :user_id %></div>
  <br>
  <div><%= form.submit "Get Photos" %></div>
<% end %>
<div>
  <% if params[:user_id].nil? || params[:user_id].empty? %>
    Here are some recent photos from other Flickr users:
  <% else %>
    Here are all the photos uploaded by <%= params[:user_id] %>:
  <% end %>
</div>

<div>
  <% @photos.each do |photo| %>
    <%#= image_tag(Flickr.url_q(photo)) %>
    <%= image_tag(photo.url_q) %>
  <% end %>
</div>